In [1]:
# dict
# indexed
# ordered
# duplicate values
# mutable

In [2]:
a = {}
type(a)

dict

In [7]:
# a = {<key>:<value>,<key>:<value>}
dict_a = {"a":"apple","b":"ball"}
dict_b = {1:"Apple",2:"Ball"}
print(dict_a)
print(dict_a["a"])
print(dict_b[1])

{'a': 'apple', 'b': 'ball'}
apple
Apple

In [6]:
dict_a = {"a":"apple","b":"ball","A":"apple"}
dict_a

{'a': 'apple', 'b': 'ball', 'A': 'apple'}

In [8]:
dict_a = {"a":"apple","b":"ball","a":"Apple"}
dict_a

{'a': 'Apple', 'b': 'ball'}

In [9]:
a = {}
a[1] = "Apple"
a

{1: 'Apple'}

In [10]:
a = {1: 'Apple'}
a[1] = "Ant"
a

{1: 'Ant'}

In [11]:
a = {}
a["Ram"] = 9843667632
a["Shyam"] = 9856334309
a["Hari"] = 9856554543
print(a)

{'Ram': 9843667632, 'Shyam': 9856334309, 'Hari': 9856554543}

In [12]:
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    d[name] = phone   #d["Hari"] = 9856554543
print(d)

Enter n = 2
Enter name = Ram
Enter phone = 8776887
Enter name = Shyam
Enter phone = 978979897
{'Ram': '8776887', 'Shyam': '978979897'}

In [13]:
d = {}
d["Ram"] = 8776887
d["Shyam"] = 978979897
d

{'Ram': 8776887, 'Shyam': 978979897}

In [14]:
for i in d:  #key
    print(i)

Ram
Shyam

In [15]:
for i in d.values():  #value
    print(i)

8776887
978979897

In [16]:
for i in d.items():  #value
    print(i)

('Ram', 8776887)
('Shyam', 978979897)

In [19]:
z = []
for i in d.items():
    z.append(i)
print(z)

[('Ram', 8776887), ('Shyam', 978979897)]

In [23]:
z = [('Ram', 8776887), ('Shyam', 978979897)]
d = {}
for i in z:
    key = i[0]
    value = i[1]
    d[key] = value
    
d

{'Ram': 8776887, 'Shyam': 978979897}

In [24]:
d = {"a":"apple"}
d

{'a': 'apple'}

In [25]:
d = {[a]:"apple"}

TypeError: unhashable type: 'list'

In [30]:
d = {("a","A"):"apple"}
d

{('a', 'A'): 'apple'}

In [33]:
# list inside dictionary
d = {"Ram":[9856554543,9808445654],
    "Shyam":[9856554549,980232289]}

print(d)
print(d["Ram"])

{'Ram': [9856554543, 9808445654], 'Shyam': [9856554549, 980232289]}
[9856554543, 9808445654]

In [38]:
d["Ram"][0]

9856554543

In [34]:
name = input("Enter name = ")
phone = int(input("Enter 0 for ntc 1 for ncell"))
print(d[name][phone])

Enter name = Ram
Enter 0 for ntc 1 for ncell0
9856554543

In [41]:
d["Ram"][0] = 9841895564
d

{'Ram': [9841895564, 9808445654], 'Shyam': [9856554549, 980232289]}

In [42]:
del d["Ram"][0]
d

{'Ram': [9808445654], 'Shyam': [9856554549, 980232289]}

In [49]:
d = {'Ram': [9808445654], 
     'Shyam': [9856554549, 980232289]}
d["Ram"].insert(0,9841667654)
print(d)

{'Ram': [9841667654, 9808445654], 'Shyam': [9856554549, 980232289]}

In [8]:
# Search
# del
a = {'Ram': [9841667654, 9808445654], 
     'Shyam': [9856554549, 980232289]}
n = int(input("Enter phone = "))
for i in a.items():
    if n in i[1]:
        print(i)

Enter phone = 234234
('Ram', [9841667654, 9808445654])
('Shyam', [9856554549, 980232289])

In [11]:
a = {'Ram': [9841667654, 9808445654], 
     'Shyam': [9856554549, 980232289]}
for i in a.items():
    print(i)

('Ram', [9841667654, 9808445654])
('Shyam', [9856554549, 980232289])

In [17]:
a = {'Ram': [9841667654, 9808445654], 
     'Shyam': [9856554549, 980232289]}
n = int(input("Enter phone = "))
for i in a.items():
    if n in i[1]:
        key = i[0]
        del a[key]
        break
print(a)

Enter phone = 9808445654
{'Shyam': [9856554549, 980232289]}

In [18]:
# dict inside dict
# d = {<key>:{<key>:<value>,<key>:<value>},
#     <key>:{<key>:<value>,<key>:<value>}}

In [19]:
d = {"Ram":{"Physics":67,"Chemistry":89,"Math":45},
    "Shyam":{"Physics":78,"Chemistry":69,"Math":98}}
print(type(d))
print(d)

<class 'dict'>
{'Ram': {'Physics': 67, 'Chemistry': 89, 'Math': 45}, 'Shyam': {'Physics': 78, 'Chemistry': 69, 'Math': 98}}

In [20]:
for i in d.items():
    print(i)

('Ram', {'Physics': 67, 'Chemistry': 89, 'Math': 45})
('Shyam', {'Physics': 78, 'Chemistry': 69, 'Math': 98})

In [23]:
print(d["Ram"]["Physics"])

67

In [24]:
d["Ram"]["Physics"] = 76
d

{'Ram': {'Physics': 76, 'Chemistry': 89, 'Math': 45},
 'Shyam': {'Physics': 78, 'Chemistry': 69, 'Math': 98}}

In [25]:
data = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    physics = int(input("Enter Physics = "))
    chemistry = int(input("Enter chemistry = "))
    math = int(input("Enter math = "))
    data[name] = {"Physics":physics,
                  "Chemistry":chemistry,"Math":math}
print(data)

Enter n = 2
Enter name = Ram
Enter Physics = 45
Enter chemistry = 89
Enter math = 67
Enter name = Shyam
Enter Physics = 67
Enter chemistry = 90
Enter math = 56
{'Ram': {'Physics': 45, 'Chemistry': 89, 'Math': 67}, 'Shyam': {'Physics': 67, 'Chemistry': 90, 'Math': 56}}

In [27]:
data['Ram']['Physics']

45

In [30]:
# d = [{<key>:<value>},{<key>:<value>},{<key>:<value>}]
d = [{"Name":"Ram","Phone":9808556530},
    {"Name":"Shyam","Phone":9808556531},
     {"Name":"Hari","Phone":9808556532}]
d[2]

{'Name': 'Hari', 'Phone': 9808556532}

In [31]:
for i in d:
    print(i)

{'Name': 'Ram', 'Phone': 9808556530}
{'Name': 'Shyam', 'Phone': 9808556531}
{'Name': 'Hari', 'Phone': 9808556532}

In [35]:
x = {"Name":"Nabin","Phone":9808556538}
d.append(x)
d

[{'Name': 'Ram', 'Phone': 9808556530},
 {'Name': 'Shyam', 'Phone': 9808556531},
 {'Name': 'Hari', 'Phone': 9808556532},
 {'Name': 'Nabin', 'Phone': 9808556538}]