In [1]:
# list
# -indexed
# -ordered
# -dulicate members
# -mutable

In [4]:
a = ["Apple","Ball","cat",1,2,3,4]
print(a[0])
print(a[0:4])
print(a[0::2])

Apple
['Apple', 'Ball', 'cat', 1]
['Apple', 'cat', 2, 4]

In [5]:
a = [1,2,3]
b = [4,5,6]
print(a+b)

[1, 2, 3, 4, 5, 6]

In [7]:
a =[1,2,3]
print(a*2)

[1, 2, 3, 1, 2, 3]

In [9]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    l = l+[x]
    
print("The list is = ",l)
print("The sum is ",sum(l))
print("The max value = ",max(l))
print("The min value = ",min(l))

Enter n = 5
Enter x = 123
Enter x = 342
Enter x = 45
Enter x = 234
Enter x = 45
The list is =  [123, 342, 45, 234, 45]
The sum is  789
The max value =  342
The min value =  45

In [12]:
print(l)
l.sort()
print(l)

[123, 342, 45, 234, 45]
[45, 45, 123, 234, 342]

In [20]:
l.reverse()

In [21]:
l

[45, 45, 123, 234, 342]

In [22]:
l = [123, 342, 45, 234, 45]
l.reverse()
print(l)

[45, 234, 45, 342, 123]

In [25]:
a = [".apple","Zebra","1Ball","XRay"]
a.sort()
print(a)

TypeError: '<' not supported between instances of 'int' and 'str'

In [26]:
l = [123, 342, 45, 234, 45]
a = sorted(l)

print(a)
print(l)

[45, 45, 123, 234, 342]
[123, 342, 45, 234, 45]

In [28]:
a = ["Apple","Ball","cat"]
a[0] = "Ant"
a

['Ant', 'Ball', 'cat']

In [31]:
a = ["Apple","Ball","cat","Dog","Apple"]
for i in a:
    if i == "Apple":
        continue
    print(i)

Ball
cat
Dog

In [33]:
a = ["Apple","Ball","cat","Dog","Apple"]
for i in a:
    if i == "cat":
        break
    print(i)
print("We didi it")

Apple
Ball
We didi it

In [38]:
a = ["Apple","Ball","cat","Dog","Apple"]
x = input("Enter x = ")

if x in a:
    print("Yes",a.count(x))
else:
    print("No")

Enter x = apple
No

In [41]:
a = ["Apple","Ball","cat","Dog","Apple"]
x = input("Enter x = ")
n = len(a)
for i in range(n):
    if x == a[i]:
        print("Yes",i)

Enter x = Apple
Yes 0
Yes 4

In [ ]:
# WAP for item search that might be in uppercase or lower case

In [4]:
# append()
a = []
a.append("Apple")
a.append("Ball")
a.append(2)
a.append(10.5)
print(a)

['Apple', 'Ball', 2, 10.5]

In [5]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    l.append(x)
    
print("The list is = ",l)
print("The sum is ",sum(l))
print("The max value = ",max(l))
print("The min value = ",min(l))

Enter n = 5
Enter x = 321
Enter x = 43
Enter x = 54
Enter x = 432
Enter x = 56
The list is =  [321, 43, 54, 432, 56]
The sum is  906
The max value =  432
The min value =  43

In [6]:
a = [321, 43, 54, 432, 56]
a.insert(2,"Apple")
a

[321, 43, 'Apple', 54, 432, 56]

In [7]:
a = [321, 43, 54, 432, 56]
a.insert(-1,"Apple")
a

[321, 43, 54, 432, 'Apple', 56]

In [8]:
# del remove() pop() clear()
a = [321, 43, 54, 432, 'Apple', 56]
del a[4]
print(a)

[321, 43, 54, 432, 56]

In [11]:
a = [321, 43, 54, 432, 'Apple', 56]
i = a.index("Apple")
print(i)
del a[i]
print(a)

4
[321, 43, 54, 432, 56]

In [13]:
a = [321, 43, 54, 432, 'Apple', 56]
del a[0::2]
print(a)

[43, 432, 56]

In [15]:
a = [321, 43, 54, 432, 'Apple', 56]
a.remove("Apple")
a

[321, 43, 54, 432, 56, 'Apple']

In [16]:
a = [321, 43, 54, 432, 'Apple', 56,'Apple']
del a[4]
a

[321, 43, 54, 432, 56, 'Apple']

In [23]:
a = [321, 43, 54, 432, 56, 'Apple']

b = a.pop(5)
print(b)
print(a)

Apple
[321, 43, 54, 432, 56]

In [21]:
a

[321, 43, 54, 432, 56]

In [27]:
a = ["Apple","Ball","Apple","Cat","Apple"]
a.remove("Apple")
a.remove("Apple")
a.remove("Apple")
print(a)

['Ball', 'Cat']

In [28]:
a = ["Apple","Ball","Apple","Cat","Apple"]
# n = a.count("Apple")
for i in a:
    a.remove("Apple")
print(a)

['Ball', 'Cat']

In [35]:
a = ["Apple","Ball","Apple","Cat","Apple"]
n = a.count("Apple")
for i in range(n):
    a.remove("Apple")
    print(a)

['Ball', 'Apple', 'Cat', 'Apple']
['Ball', 'Cat', 'Apple']
['Ball', 'Cat']

In [33]:
a = ["Apple","Ball","Apple","Cat","Apple"]
for i in range(3):
    print(a[i])

Apple
Ball
Apple

In [38]:
b = []
a = ["Apple","Ball","cat","Dog","Apple"]
for i in a:
    if i == "Apple":
        continue
    b.append(i)
print(b)

['Ball', 'cat', 'Dog']

In [39]:
b = []
a = ["Apple","Ball","cat","Dog","Apple"]
n = len(a)
for i in range(n):
    if a[i] == "Apple":
        continue
    b.append(a[i])
print(b)

['Ball', 'cat', 'Dog']

In [42]:
b = []
a = ["Apple","Ball","cat","Dog","Apple"]
n = len(a)
for i in range(n):
    if a[i] != "Apple":
        continue
    b.append(i)
print(b)

[0, 4]

In [43]:
# list inside list
a = [[1,2,3],
     [4,5,6],
     [7,8,9]]
type(a)

list

In [45]:
len(a)

3

In [49]:
a[0][0]

1

In [51]:
data = []
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    age = input("Enter age = ")
    add = input("Enter address ")
    info = [i,name,age,add]
    data.append(info)
    
print(data)

Enter n = 2
Enter name = Ram
Enter age = 76
Enter address lkajdklajd
Enter name = Shyam
Enter age = 56
Enter address kjdhajskd
[[1, 'Ram', '76', 'lkajdklajd'], [2, 'Shyam', '56', 'kjdhajskd']]

In [53]:
for i in data:
    print(i)

[1, 'Ram', '76', 'lkajdklajd']
[2, 'Shyam', '56', 'kjdhajskd']

In [54]:
sn = int(input("Enter sn = "))
data[sn-1]

Enter sn = 1

[1, 'Ram', '76', 'lkajdklajd']

In [59]:
a = [1,2,3,4,5,6]
del a
print(a)

[]

In [61]:
a = [1,2,3,4,5,6]
del a[:]
a

[]

In [58]:
a = [1,2,3,4,5,6]
a.clear()
print(a)

[]