In [2]:
a = set()
print(a)
type(a)

set()

set

In [ ]:
# Set
# -Mutable
# -unordered
# -not indexing
# -no deplicate members

In [3]:
a = {1,2,3}
type(a)

set

In [6]:
a = {}
type(a)

dict

In [9]:
a = {"Apple","ball","1zebra",2,1,20.5}
print(a)
a

{1, 2, 'Apple', 'ball', 20.5, '1zebra'}

{1, '1zebra', 2, 20.5, 'Apple', 'ball'}

In [11]:
a = {1,1,2,2,3,3,4,4,5,5}
print(a)

{1, 2, 3, 4, 5}

In [14]:
a = [1,1,2,2,3,3,4,4]
b = set(a)
a = list(b)
a

[1, 2, 3, 4]

In [15]:
# add
# update

In [16]:
a = set()
a.add(1)
a.add(2)
a.add(3)
print(a)

{1, 2, 3}

In [21]:
a = set("Python")
b = list("Python")
c = tuple("Python")
print(a)
print(b)
print(c)

{'o', 'h', 'n', 'P', 'y', 't'}
['P', 'y', 't', 'h', 'o', 'n']
('P', 'y', 't', 'h', 'o', 'n')

In [22]:
a = set()
n = int(input('Enter n = '))
for i in range(n):
    x = int(input("Enter x = "))
    a.add(x)
    
print(a)

Enter n = 3
Enter x = 1
Enter x = 2
Enter x = 3
{1, 2, 3}

In [23]:
a = {1,2,3}
b = {4,5,6}
a.update(b)
print(a)

{1, 2, 3, 4, 5, 6}

In [26]:
a = {(1,2,3),(4,5,6)}
a

{(1, 2, 3), (4, 5, 6)}

In [27]:
a = set()
a.add((1,2,3),)
a

{(1, 2, 3)}

In [30]:
a = {1,2,3}
a.remove(1)
print(a)

{2, 3}

In [31]:
a = {1,2,3}
a[0]

TypeError: 'set' object does not support indexing

In [33]:
a = {"Ram","Shyam","Hari","Gita"}
b = {"Sita","Gita","Shyam","Hari"}

In [34]:
a.intersection(b)

{'Gita', 'Hari', 'Shyam'}

In [35]:
a.union(b)

{'Gita', 'Hari', 'Ram', 'Shyam', 'Sita'}

In [36]:
# a-b
a.difference(b)

{'Ram'}

In [37]:
# b-a
b.difference(a)

{'Sita'}

In [38]:
# joint
# subset or super set

In [39]:
a = {1,2,3}
b = {4,5,6}
a.isdisjoint(b)

True

In [40]:
a = {1,2,3}
b = {4,5,6}
a.intersection(b)

set()

In [41]:
a = {1,2,3,4,5,6,7}
b = {1,2,3}
b.issubset(a)

True

In [43]:
a = {1,2,3,4,5,6,7}
b = {1,2,3}
a.issuperset(b)

True

In [45]:
a = {"Ram","Shyam","Hari","Gita"}
b = {"Sita","Gita","Shyam","Hari"}
u = {'Gita', 'Hari', 'Ram', 'Shyam','Sita',"Nita","Manita"}
unin = a.union(b)
u.difference(unin)

{'Manita', 'Nita'}